@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* colors */

.primary-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.secondary-color {
  background-color: #fff4e7;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.orange {
  color: #ff900e;
}

/* shared-style */

#B {
  font-weight: bold;
}

#M {
  font-weight: 500;
}

.display-flex {
  display: flex;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main > section {
  margin-top: 130px;
}

.section-title {
  font-size: 2.8rem;
}

/* header style */

/* nav-style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.8rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* banner style */

.banner-content {
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-content h1 {
  font-weight: bold;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* teams section */

.teams {
  justify-content: center;
  align-items: center;
}

.team-image-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.our-features {
  margin-left: 130px;
  max-width: 537px;
}

/* features section style */

.features {
  gap: 140px;
}

#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card,
.feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

/* some facts style */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 250px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description {
  max-width: 540px;
}

/* sponsor style */

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* responsive design */

@media screen and (max-width: 576px) {
  .display-flex {
    flex-direction: column;
  }

  .team-image-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .facts-container {
    justify-items: center;
    gap: 24px;
  }

  .our-features {
    margin-left: 20px;
  }

  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }

  .featured-architect img {
    width: 100%;
  }

  #experience-badge {
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* responsive medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  #experience-badge {
    margin-left: 20px;
    margin-top: 20px;
  }
  .our-features {
    margin-left: 50px auto;
  }

  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}
